body {
    direction: rtl;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 30px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #666;
}

label {
    font-size: 16px;
    margin: 10px 0;
    display: block;
}

textarea {
    width: 100%;
    /*padding: 10px;*/
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

input[type="text"] {
    width: 70%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 15px;
        width: 100%;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }

    input[type="text"] {
        width: 100%;
    }
}
